# Jira Configuration
JIRA_BASE_URL=https://solixjira.atlassian.net
JIRA_EMAIL=manoj.kuruva@solix.com
JIRA_API_TOKEN=ATATT3xFfGF0sZ3JUiTRyJeTzvIo4v2DkveDAIqqZGSV4Nb0OK0KXmD1up0ZOKy9u5MKsWYsIaWtGKx9s6Y2rZ5UuylZBqGwWGvvl0PMfk4GQZN2yPOx5YaiudWa6tfqBwvxsXtUbXF9dodou7MP9jImpjgYlZwYxWvx8HzCq9fYszyvJRSuFPQ=05BDB0C7
JIRA_PROJECT_KEY=PROJ

# Backend
PORT=8000
NODE_ENV=development
LOG_LEVEL=debug

# Frontend
VITE_API_URL=http://localhost:8000/api